*{
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    height: 100vh;
    width: 100%;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
#margin{
    padding: 0 10px 0 10px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;

}
#top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}
#amela{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#avatar{
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background: linear-gradient(red,blue);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
#avatar-box{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
h3,h5{
    margin:0;
}
p{
    margin: 0;
}

#blank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about_me{
    display: flex;
    flex-direction: column;
}
#about_me p{
    color: gray;
}
#about_me div{
    display: flex;
    gap: 5px;
    align-items: center;
}
#buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px   ;
    align-items: center;
}
#buttons button{
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    background: #c4c9c2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    transition: all .40s;

}
#buttons #add{
    padding: 10px;
}
#buttons button:hover{
    background: #46a4d0;
    box-shadow: -6px 14px 33px -15px rgba(66, 68, 90, 1);
}
nav,#nav{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
nav:hover,#nav:hover{
    border-bottom: 1px solid;
}
#container{
    display: flex;
}

content div div img{
    width: 128.5px;
    height:128.5px;
}
content div{
    display: flex;
}
#f1,#f4,#f7{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
#f3,#f6,#f9{
    border-left: 2px solid white;
}
icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
icons i{
    width: 15px;
    height: 15px;
    padding: 5px;
}
i:hover{
    animation: myAnim 1s ease-in-out 0.3s 1 normal forwards;
}